*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//VARIABLES
@import './utilidades/colores';
@import './utilidades/tipografia';


// IMPORTACIONES
@import './header-footer/header';
@import './secciones/index';
@import './header-footer/footer';
